<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakti</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', path='/logotypes_165x140.png')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', path='/contacts.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,700&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
    crossorigin="anonymous"/>
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"><img src="{{url_for('static', path='/logotype_160x125.png')}}" alt="logo"></a>
            <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span> <span class="bar"></span>
            <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links">Piekabinamie miglotaji</a>
            </li>
            <li class="navbar__item">
                <a href="mezu-kopsana" class="navbar__links">Mežu kopšana</a>
            </li>
            <li class="navbar__item">
                <a href="contacts" class="navbar__links">Kontakti</a>
            </li>
            <!-- <li class="navbar__btn"><a href="login" class="button">Sign Up</a></li> -->
            </ul>
        </div>
    </nav>

    <!-- viss page -->
    <section class="contact">
        <div class="content">
            <h2>Mūsu kontaktinformācija</h2>
            <p>Sazinieties ar mums pa tālruni, E-pastu neskaidrību gadījumā</p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Sazinieties</h3>
                        <span itemprop="telephone"><a href="tel:+37129105547">+371 29105547</a></span>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>E-pasts</h3>
                        <a href="mailto:atskaites1@inbox.lv">atskaites1@inbox.lv</a>
                    </div>
                </div>
            </div>
            <div class="mapbox">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1563.9315103608917!2d25.561259620580277!3d56.33443446140448!3m2!1i1024!2i768!4f13.1!5e0!3m2!1slv!2slv!4v1711478059326!5m2!1slv!2slv" 
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>


    <!-- Footer Section -->
<div class="footer__container">
    <div class="footer__links">
        <div class="footer__link--wrapper">
        <div class="footer__link--items">
            <h2>E-pasts   <i class="fa fa-envelope" aria-hidden="true"></i></h2>
            <a href="mailto:atskaites1@inbox.lv">atskaites1@inbox.lv</a>
        </div>
        <div class="footer__link--items">
            <h2>Sazinies   <i class="fa fa-phone" aria-hidden="true"></i></h2>
            <span itemprop="telephone"><a href="tel:+37129105547">+371 29105547</a></span>
        </div>
        </div>
        <div class="footer__link--wrapper">
        <div class="footer__link--items">
            <h2>Atrodi mūs   <i class="fa fa-map-marker" aria-hidden="true"></i></h2>
            <a>"Zakeri", Viesītes pag., <br>Jēkabpils nov., LV-5237</a>
        </div>
        <div class="footer__link--items">
            <h2>Social Media</h2>
            <a href="https://www.instagram.com/boguslav_group_agro/">Instagram</a> <a href="https://www.facebook.com/BoguslavGroupAgro/">Facebook</a>
            <a href="https://www.youtube.com/@boguslavgroupagro">Youtube</a> <a href="https://www.linkedin.com/company/boguslav-group-agro/">LinkedIn</a>
        </div>
        </div>
    </div>
    
    <section class="social__media">
        <div class="social__media--wrap">
        <div class="footer__logo">
            <a href="/" id="footer__logo"><img src="{{url_for('static', path='/logotype_160x125.png')}}" alt="logo"></a>
        </div>
        <!-- <p class="website__rights">© NEXT 2020. All rights reserved</p> -->
        <div class="social__icons">
            <a
            class="social__icon--link"
            href="https://www.facebook.com/BoguslavGroupAgro/"
            target="_blank"
            aria-label="Facebook"
            >
            <i class="fab fa-facebook"></i>
            </a>
            <a
            class="social__icon--link"
            href="https://www.instagram.com/boguslav_group_agro/"
            target="_blank"
            aria-label="Instagram"
            >
            <i class="fab fa-instagram"></i>
            </a>
            <a
            class="social__icon--link"
            href="https://www.youtube.com/@boguslavgroupagro"
            target="_blank"
            aria-label="Youtube"
            >
            <i class="fab fa-youtube"></i>
            </a>
            <a
            class="social__icon--link"
            href="https://www.linkedin.com/company/boguslav-group-agro/"
            target="_blank"
            aria-label="LinkedIn"
            >
            <i class="fab fa-linkedin"></i>
            </a>
        </div>
        </div>
    </section>
    </div> 
    <script src="{{url_for('static', path='/testing.js')}}"></script>

</body>
</html>
